.title {
    text-align: center;
    font-size: 30px;
    background-color: black; 
    color: white;
}

.subtitle {
    text-align: center;
    font-size: 20px;
    border: solid black;
    background-color: black; 
    color: white;
}
  